.carta {
  width: 125px;
  height: 125px;

}

.portada {
  width: 125px;
  height: 125px;
  background-color: #A3C8DA;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.contenido {
  width: 125px;
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(3, 220, 244);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.ReactFlipCard {
  width: 100%;
  height: 100%;
}