header{
	height: 50px;
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
	align-content: center;
}

.titulo{
	font-size: 25px;
	padding: 10px;
	color: #fff;
}
.boton-reiniciar{
	position: absolute;
	left: 12px;
	top: 52px;
	padding: 15px;
	border: 0px;
	color:#fff;
	background:  rgba(6,57,84,1);
	transition: 0.2s;
	border-radius: 5px;
	text-transform: uppercase;
	cursor: pointer;
}
.boton-reiniciar:hover{
	color: #255784;
	background: #2196f3;
	box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 10px #2196f3;
}